<!DOCTYPE html>

<html lang="pt">

<head>


{{>head}}

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">



<title>PixItems - Gestão de Stock</title>


</head>

<body style="background-image: url('https://i.redditmedia.com/E1nbY8Emn-KsdP1Sm9gDGXprfAqlvgU0tiW84dzeAso.jpg?s=bcd1d90cc5f71a9740157342538ce3b1'); background-repeat: no-repeat;
    background-size: 100%; background-attachment: fixed;font-family: Roboto Condensed;">

	{{>bsnavbar}}

<div class = container>

	{{{body}}}

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>