<div class="page-header">
<h2>Sobre a ProgramPix, Lda</h2>
</div>


<div style="background-color: #fff; padding: 12px; border-radius: 5px;">

<h4><b>Quem somos</b></h4>
<p>A ProgramPix – Software Lda é uma empresa vocacionada para o desenvolvimento de aplicações de software.
Dentro do seu portfólio existem aplicações standard de Gestão e Facturação, de Gestão e Facturação especificas para o mercado da Restauração e ainda Gestão e Facturação para o mercado de retalho POS (Ponto de Venda).<p>


<h4><b>Soluções para o seu negócio</b></h4>
<p>Uma outra área de actuação da empresa reside na criação, implementação e desenvolvimento de projectos de software específicos, de acordo com as necessidades e solicitações dos clientes.
Entre outros projectos já desenvolvidos destacamos a Gestão e Facturação de Ponto de Venda Multiempresa / Multifactura, e o Programa de Gestão e Facturação para o Mercado Liberalizado de Energia.</p>


<h4><b>Apoio Técnico</b></h4>
<p>Damos formação e prestamos assistência técnica a todos os nossos produtos.</p>


<h4><b>Soluções Avançadas</b></h4>
<p>Desenvolvemos soluções por medida que permitem responder às necessidades da sua empresa.</p>
 

<h4><b>Certificação</b></h4>
<p>Os nossos programas de gestão e faturação são certificados pela AT.</p>
 

<h4><b>POS</b></h4>
<p>Algumas das nossas soluções permitem a integração do módulo POS que permite fazer a gestão de um ponto de venda ao público.</p>


</div>