<div class="page-header" style="color: white;">
<h3><b>Obrigado!</b></h3>
<p>Se enviou um pedido de ajuda, o seu email for enviado para <b>geral@programpix.pt</b></p>
<p>Iremos ser o mais breves possíveis a atender ao seu pedido.</p>
</div>